ul {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
  
.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

#left {
  background-color: rgb(115, 158, 199);
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#right {
  background-color: #5cb85c;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

body {
  width: 75%;
 margin: 0 auto; 

 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: white;
}